.container {
  position: relative;
  /* width: 360px; */
  /* height: 911px; */
}
.flex {
  display: flex;
}
.word {
  width: 172px;
  height: 56px;
  left: 18px;
  top: 26px;

  font-family: Noto Sans Bengali;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: -0.05em;

  color: #000000;
}
.container .main_word .star_ask {
  position: absolute;
  width: 28.93px;
  height: 28.93px;
  left: 165.07px;
  top: 65px;

  transform: rotate(0.15deg);
}
.main_word .recent_ask {
  position: absolute;
  left: 55%;
  right: 4.44%;
  top: 131px;
  bottom: 7.32%;

  font-family: Noto Sans Bengali;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  text-align: right;
  letter-spacing: -0.05em;

  color: #ff6b00;
}
.main_word .recent_scroll {
  display: none;
}
.container .new_boxs .box_ask {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 360px;
  height: 125px;
  left: 0px;
  top: 159px;
  border-bottom: 1px solid #ececec;
}
.container .new_boxs::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.container .new_boxs .box_ask:first-child {
  margin-top: 65px;
}

.box_ask .numbers {
  width: 38px;
  height: 41px;
  left: 15px;
  top: 0px;
  padding-left: 15px;
  padding-top: 19.5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  /* identical to box height */

  letter-spacing: -0.05em;
}
.box_ask .titleFont {
  height: 72px;
  left: 0px;
  right: 24px;
  top: 0px;
  padding-left: 13px;
  padding-top: 19.5px;
  font-family: Noto Sans Bengali;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.05em;
}
.box_ask .imgLink {
  width: 12px;
  height: 23px;
  left: 333px;
  top: 0px;
  transform: rotate(180deg);
  padding-top: 19.5px;
  padding-right: 15px;
}
.box_ask .url {
  width: 360px;
  height: 14px;
  left: 67px;
  top: 0px;
  padding-top: 5px;
  padding-left: 45px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */

  color: #757171;
}
.box_ask .userAsk {
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  padding: 1px 9px;
  /* left: 68px; */
  top: 6px;
  margin-left: 45px;
  margin-top: 7px;
  background: #ff6b00;
  border-radius: 10px;
}

.box_ask .userAsk .userNameAsk {
  width: 100%;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 11px;

  /* identical to box height */

  text-align: center;
  color: #ffffff;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.more_post_ask {
  position: absolute;
  display: none;
  left: 43%;
  right: 43%;
  top: 82.05%;
  bottom: 32%;
  justify-content: center;
}
